{% extends 'mainapp/base.html' %}
{% load static %}
{% block title %}À Propos{% endblock %}
{% block content %}

<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">À Propos</h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'mainapp:index' %}">Accueil</a>
    </li>
    <li class="breadcrumb-item active">À Propos</li>
  </ol>

  <!-- Intro Content -->
  <div class="row">
    <div class="col-lg-12">
      <h2>À Propos de Fortnite STW FR</h2>
      <p>Ce site est née de la necessiter d'un projet final de ma formation OpenClassrooms et de ma passion pour le mode Save The World de Fortnite.</br>J'éspère pouvoir vous transmettre à travers ce projet ma passion pour le mode PvE.</p>
      <p>Vous trouverez sur ce site des news concernant l'évolution du mode Save The World, des guides afin d'exploité tout le contenu de ce mode, ainsi que des outils tel que l'inspection de joueur, l'affichage des missions interessantes ou encore une page permettant la mise en avant des streamers PvE de Fortnite</p>
      <p>Si vous avez une quelconque question ou suggestion à propos du site, sentez vous libre de nous contacter.</p>
    </div>
  </div>
  <!-- /.row -->

  <!-- Team Members -->
  <h2>Our Team</h2>

  <div class="row">
    <div class="col-lg-4 mb-4">
      <div class="card h-100 text-center">
        <img class="card-img-top" src="https://i.imgur.com/mYpZery.png" alt="" style="height: 250px; object-fit: cover;">
        <div class="card-body">
          <h4 class="card-title">Hideky</h4>
          <h6 class="card-subtitle mb-2 text-muted">Administrateur</h6>
          <p class="card-text">Développeur Python-Django FullStack</p>
        </div>
        <div class="card-footer">
          <i class="fab fa-discord"></i> Hideki#5578</span>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card h-100 text-center">
        <img class="card-img-top" src="https://i.imgur.com/mbvFpFk.png" alt="" style="height: 250px; object-fit: cover;">
        <div class="card-body">
          <h4 class="card-title">Gnash69</h4>
          <h6 class="card-subtitle mb-2 text-muted">Rédacteur</h6>
          <p class="card-text">Commandant d'un bouclier anti-tempête d'au moins 9 survivants.</br>On l'appelle la « Terreur de Fontainebois »</p>
        </div>
        <div class="card-footer">
          <span><i class="fab fa-discord"></i> Gnash69#7048</span>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->

{% endblock %}