{% load static %}
<!DOCTYPE html>
<html lang="fr">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Language" content="fr-FR">
    <meta property="og:image" content="{% static 'mainapp/img/favicon.png' %}">
    <meta http-equiv="description" name="description" content="Votre source d'information francophone sur le mode Sauver le Monde de Fortnite !">
    <meta http-equiv="keywords" name="keywords" content="fortnite, sauver le monde, save the world, pve, guides, faq, actualité, streamers">
    <meta name="author" content="Fortnite STW FR">
    <link rel="icon" type="image/png" href="{% static 'mainapp/img/favicon.png' %}" />
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'mainapp/vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'mainapp/css/main.css' %}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{% url 'mainapp:index' %}">Fortnite-STW.FR</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'mainapp:about' %}">À propos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'mainapp:guides' %}">Guides</a>
            </li>
<!--             <li class="nav-item">
              <a class="nav-link" href="{% url 'mainapp:contact' %}">Contact</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="{% url 'mainapp:streamers' %}">Streamers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'mainapp:faq' %}">FAQ</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {%block content %}{%endblock%}
    <iframe src="https://discordapp.com/widget?id=459515720049623051&theme=dark" width="300" height="500" allowtransparency="true" frameborder="0" style='position: fixed; right: 0px; bottom: 0px;'></iframe>
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-4 bg-primary">
      <div class="container">
        <p class="m-0 text-center">&copy; 2018 Fortnite STW FR</p>
        <p class="m-0 text-center blockquote-footer">Toutes les marques contenues dans ce site sont la propriété de leurs propriétaires respectifs.</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'mainapp/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'mainapp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

  </body>

</html>
