{% extends 'mainapp/base.html' %}
{% load static %}
{% block title %}Guides{% endblock %}
{% block content %}

<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">Guides
    <small>Tout savoir sur les mécaniques du jeu</small>
  </h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'mainapp:index' %}">Accueil</a>
    </li>
    <li class="breadcrumb-item active">Guides</li>
  </ol>

  <!-- Image Header -->
  <img class="img-fluid rounded mb-4" src="https://i.imgur.com/XunHg60.jpg" alt="">

  <!-- Marketing Icons Section -->
  <div class="row">
  {% for guide in last_guides %}
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <h4 class="card-header">{{ guide.title }}</h4>
        <div class="card-body">
          <p class="card-text">{{ guide.articlepage.description }}</p>
        </div>
        <div class="card-footer">
          <a href="{{ guide.url }}" class="btn btn-primary">Lire</a>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
{% endblock content %}