{% extends 'mainapp/base.html' %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% block title %}Accueil{% endblock %}
{% block content %}

<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      {% for article in last_articles %}
      <!-- Slide One - Set the background image for this slide in the line below -->
      {% if forloop.counter0 == 0 %}
     <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      {% else %}
      <li data-target="#carouselExampleIndicators" data-slide-to="{{forloop.counter0}}"></li>
      {% endif %}
      {% endfor %}
    </ol>
    <div class="carousel-inner" role="listbox">
      {% for article in last_articles %}
          {% image article.articlepage.feed_image fill-1920x300-c100 as banner_image %}
          {% if forloop.counter0 == 0 %}
          <div class="carousel-item active" style="background-image: url('{{banner_image.url}}')">
          {% else %}
          <div class="carousel-item" style="background-image: url('{{banner_image.url}}')">
          {% endif %}
            <div class="carousel-caption d-none d-md-block">
              <a href="{{article.url}}"><h3 class="carousel-title">{{ article.title }}</h3></a>
              <p class="carousel-description">{{ article.articlepage.description }}</p>
            </div>
          </div>
      {% endfor %}
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</header>

<!-- Page Content -->
<div class="container">
  <hr>
  <h1 class="my-4">Nos Articles</h1>

  <!-- Articles Section -->
  <div class="row">
    {% for article in articles %}
    {% image article.articlepage.feed_image fill-700x400-c100 as banner_image %}
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="{{article.url}}"><img class="card-img-top" src="{{banner_image.url}}" alt=""></a>
        <div class="card-header" style="text-align: center">
          <span class='fas fa-user'></span>
          {{article.owner}}&nbsp;
          <span class='far fa-clock'></span>
          {{article.first_published_at|date:"d F Y"}}
        </div>
        <div class="card-body">
          <h4 class="card-title">
            <a href="{{article.url}}">{{article.title}}</a>
          </h4>
          <p class="card-text">{{ article.articlepage.description }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <!-- /.row -->

  <!-- Features Section -->
<!--   <div class="row">
    <div class="col-lg-6">
      <h2>Modern Business Features</h2>
      <p>The Modern Business template by Start Bootstrap includes:</p>
      <ul>
        <li>
          <strong>Bootstrap v4</strong>
        </li>
        <li>jQuery</li>
        <li>Font Awesome</li>
        <li>Working contact form with validation</li>
        <li>Unstyled page elements for easy customization</li>
      </ul>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
    </div>
    <div class="col-lg-6">
      <img class="img-fluid rounded" src="http://placehold.it/700x450" alt="">
    </div>
  </div> -->
  <!-- /.row -->
  <ul class="pagination justify-content-center">
    {% if last_articles.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ last_articles.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {% endif %}
    {% for i in last_articles.paginator.page_range %}
    {% if i == last_articles.number %}
    <li class="page-item active">
      <a class="page-link" href="?page={{ i }}">{{ i }}</a>
    </li>
    {% else %}
    <li class="page-item">
      <a class="page-link" href="?page={{ i }}">{{ i }}</a>
    </li>
    {% endif %}
    {% endfor %}
    {% if last_articles.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ last_articles.next_page_number }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
    {% endif %}
  </ul>
  <hr>

</div>
<!-- /.container -->

{% endblock %}